body{
  background-color: lightsteelblue;
}
.App {
  text-align: center;
  align-content: center;
  background-color: aliceblue;
}

input[type="text"] {
  margin-right: 5px;
}

button {
  margin-left: 5px;
}
